@import "tailwindcss";

/* your custom styles */
.nav-btn {
  width: 100%;
  text-align: left;
  padding: 10px 12px;
  border-radius: 8px;
  background: transparent;
}

.nav-btn:hover {
  background: #1e293b;
}

.signout-btn{
  width: 100%;
  text-align: left;
  padding: 10px 12px;
  border-radius: 8px;
  background: transparent;
}

.signout-btn:hover {
  background: #ef4444;
}

.employee-label {
  background: rgba(15, 23, 42, 0.9); /* slate-900 */
  color: white;
  border: none;
  border-radius: 6px;
  padding: 2px 6px;
  font-size: 12px;
  font-weight: 500;
  box-shadow: 0 4px 10px rgba(0,0,0,0.25);
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-20px); }
  100% { transform: translateY(0px); }
}

.animate-float {
  animation: float 8s ease-in-out infinite;
}



