@import "tailwindcss";

/* your custom styles */
.nav-btn {
  width: 100%;
  text-align: left;
  padding: 10px 12px;
  border-radius: 8px;
  background: transparent;
}

.nav-btn:hover {
  background: #1e293b;
}
